/*--------------------------------------------
Button White CSS
--------------------------------------------*/
QPushButton {
    color: #4752E8;
    background: #ffffff;
    border: 1px solid #4752E8;
    border-radius: 14px;
    padding: 6px;
}
QPushButton:hover{
    border: 1px solid #4752E8;
    color: #4752E8;
    padding-top: 5px;
}
QPushButton:pressed {
    color: #4752E8;
    background: #ffffff;
    border: 1px solid #4752E8;
}
QPushButton:disabled {
    color: #4752E8;
    border: 1px solid #4752E8;
    background: #ffffff;
    padding-top: 5px;
}
