/*--------------------------------------------
Button Black CSS
--------------------------------------------*/
QPushButton {
    background-color: #FFFFFF;
    color: #4752E8;
    border-radius: 14px;
}
QPushButton:hover{
    background: #FFFFFF;
    color: #4752E8;
}
QPushButton:pressed {
    background: #FFFFFF;
    color: #4752E8;
}
QPushButton::disabled {
    color: #ACAFBA;
    background-color: #E1E1E1;
}
QPushButton::disabled#clearButton{
    color: #ACAFBA;
    border: none;
    background-color: #E1E1E1;
}
QPushButton#clearButton{
    background-color: #FFFFFF;
    border: 1px solid #4752E8;
    color: #4752E8;
}
QPushButton::disabled#pushButtonClearAll{
    color: #ACAFBA;
    border: none;
    background-color: #E1E1E1;
}
QPushButton#pushButtonClearAll{
    background-color: #FFFFFF;
    border: 1px solid #4752E8;
    color: #4752E8;
}
