/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white;
    background: #4752e8;
    border-radius: 14px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #0a16bc;
}
QPushButton:pressed {
    background: #0a16bc;
    color: white;
}
QPushButton::disabled {
    color: #ACAFBA;
    background-color: #E1E1E1;
}
