/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #bfb9f5;
    background: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked, hover:!checked {
    color: #ffffff;
    background: #3E44AD;
}
QToolButton:disabled {
    color: rgba(255, 255, 255, 10%);
    background: rgba(45, 45, 45, 40%);
}
